[Desktop Entry]
Name=Qtstalker
Comment=Qtstalker is a basic technical analysis charting app based on the Qt toolkit
Comment[pl]=Qtstalker to program do przeprowadzania analiz technicznych bazujący na bibliotece QT
TryExec=qtstalker
Exec=qtstalker
Icon=qtstalker.xpm
Terminal=false
Type=Application
Categories=Qt;Office;Finance;
Encoding=UTF-8
# vi: encoding=utf-8
